extends layout.pug

block content

	.order-form
		form(method="POST")
			.form-group
				label(for='title') Title
				input.form-control#name(type='text',name = "title", placeholder='John Doe' required)
			.form-group
				label(for='link') Link
				input.form-control#link(type='link',name = 'link', placeholder='http://blah' required)
			.form-group
				label(for='image') Image
				input.form-control#image(type='text', name = 'image' placeholder='imageURL')
			
			.order-form__submit
				a.btn.btn-danger.btn-lg(href="/order") Cancel
				input.btn.btn-success.btn-lg(type='submit' value='Submit')


